<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xqhuang.dps.mapper.AuthorsMapper">
  <resultMap id="BaseResultMap" type="cn.xqhuang.dps.entity.Authors">
    <id column="id" property="id" />
    <result column="first_name" property="firstName" />
    <result column="last_name" property="lastName" />
    <result column="email" property="email" />
  </resultMap>
  
  
   <insert id="insert" parameterType="cn.xqhuang.dps.entity.Authors" statementType="PREPARED" useGeneratedKeys="true" keyProperty="sid">
    insert into authors
    (first_name, last_name, email)
    values
    (#{firstName}, #{lastName}, #{email})
  </insert>

  <select id="selectByExample" parameterType="map" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    *
    from authors
  </select>
  
  <select id="streamByExample" fetchSize="-2147483648" parameterType="map" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    *
    from authors
  </select>
</mapper>
